.two-columns {
  display: flex;
  justify-content: space-between;
}

.column {
  flex-basis: calc(50% - 20px); /* Adjust the width of each column as needed */
  padding: 10px;
  box-sizing: border-box;
}

.skill-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.insta {
  color: white;
}

.collapsible-box {
  overflow: hidden;
  background-color: #202020;
  border-radius: 25px;
  margin: 10px;
  text-align: center;
  max-height: 100px;
  transition: max-height 0.5s ease-in-out;
}

.collapsible-box.open {
  max-height: 1000px;
  padding-bottom: 10px;
  transition: max-height 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .two-columns {
    flex-direction: column; /* Change to column layout for mobile view */
  }

  .column {
    flex-basis: auto; /* Reset column width for mobile view */
    margin: 0 10px; /* Add margin for spacing */
  }
}
